* {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

.main {
    margin: 30px 0px;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 5px;
    row-gap: 5px;
    font-size: large;
}

.main1 {
    text-align: right;
    line-height: 60px;
    height: 60px;
}

input[type="text"] {
    padding: 20px 10px;
    font-size: large;
    border: 1px solid black;
    border-radius: 3px;
}

.card {
    margin: 0% 10%;
    height: 200px;
    position: relative;
    border: 3px solid green;
    border-radius: 3px;
    background-color: burlywood;
}

.card div {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn {
    margin: 3% 40%;
    background-color: black;
    border-radius: 2px;
    border: 0px solid orange;
    font-size: larger;
    color: aliceblue;
    height: 60px;
    width: 20%;
}

.hide {
    display: none;
}